#companyName {
    font-size: 30px;
    color:darkolivegreen;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;

}
.tab {
    font-size: 18px;
    border: 1px solid;
    background-color: lightblue;
    padding: 62px;
    padding-bottom: 30px;
    padding-top: 50px;
    margin: 0;
    float: left;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.fullPage {
    background-color:beige;
}

.img { 
    size-adjust: 400px;
    padding: 20px, 20px, 20px, 20px;
}

.bodyText {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.bodyContainer {
    display: flex;
    flex-direction: row;
    padding: 20px, 20px, 20px, 20px;
}

.fullPage {
    display: flex;
    flex-direction: column;
}

.titleTab {
    display:flex;
}